.header { grid-area: header; }
.menu { grid-area: menu; }
.left { grid-area: left; }
.right { grid-area: right; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'left left left header header header header right right right'
	'left left left menu menu menu menu right right right'
    'left left left main main main main right right right'
    'left left left footer footer footer footer right right right';
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: right;
	width: 180px;
}

div.gallery img {
	width: 100%;
	height: auto;
}

body {
	background-color: #e0e0e0;
}

video {
	width: 400px;
	margin-left: 29%;
}

#welcome {
	margin-left: 29%;
}

#program h2 {
	text-align: center;
}

#program p {
	margin-left: 25px;
	float: left;
	width: 40%;
}

#about {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

li {
	float: left;
	margin-left: 12.8%;
	margin-right: 12.8%;
}

li a {
	font-weight: bold;
	display: block;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
}